*{
    font-family: 'Times New Roman', Times, serif;
}
body{
    margin-left: 80px;


}

h3{
    margin-left: 10px;
}


.input-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height:450px;
    width:1100px;

}
textarea{
    margin-left: 10px;
    width:380px;
    height:30px;
    border:lightgray 2px solid;
    font-size: 25px;
}
button{
    margin-left:10px;
}

.budget-container{
    display:flex;
    flex-direction: column;
    height:155px;
    width:400px;
    background-color: rgb(240, 236, 236);
    border: green solid 2px;
    border-radius: 5px;
}
.calculate-btn{
    margin-left: 10px;
    margin-top: 10px;
    width:100px;
    height:40px;
    border:green solid 2px;
    border-radius: 5px;
    color:green;
    font-size: 15px;
}
.calculate-btn:hover{
    cursor: pointer;
}

.expense-container{
    display:flex;
    flex-direction: column;
    height:250px;
    width: 400px;
    background-color: rgb(240, 236, 236);
    border: red solid 2px;
    border-radius: 5px;
}
.expense-container-2{
    height:250px;
    width: 550px;
    margin-top: 10px;

}

.expense-btn{
    margin-left: 10px;
    margin-top: 10px;
    width:100px;
    height:40px;
    border:red solid 2px;
    border-radius: 5px;
    color:red;
    font-size: 15px;
}
.expense-btn:hover{
    cursor: pointer;
}

.results-container{
    display:flex;
    height:145px;
    width:600px;

}
.red{
    color:red;
}

.green{
    color:green;
}
.black{
    color:black;
}
.child{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 145px;
    width:200px;

}
.expense-container-child{
    display:flex;
    flex-direction: column;
    border: black solid 2px;
    height: 250px;
    width:200px;
}
table, th, td{
    width:600px;

    table-layout: auto;
}
th{
    text-align: left;
}
.data-table{
 
}
#icon-buttons:hover{
    cursor: pointer;
}
#icon-buttons{
    margin-left: 5px;
}